{
  "openapi": "3.1.0",
  "info": {
    "title": "AKB AIIP Application API",
    "version": "1.0.0",
    "description": "Versioned public application contract for AIIP harmonization and duplicate search."
  },
  "servers": [
    {
      "url": "https://stratos.zeleznalady.cz/akb",
      "description": "Production AKB"
    }
  ],
  "security": [
    {
      "bearerAuth": [

      ]
    }
  ],
  "tags": [
    {
      "name": "AIIP Application API"
    }
  ],
  "paths": {
    "/api/integrations/aiip/v1/harmonize": {
      "servers": [
        {
          "url": "http://localhost:3002",
          "description": "Local AKB web API"
        },
        {
          "url": "https://stratos.zeleznalady.cz/akb",
          "description": "Production AKB web API"
        }
      ],
      "post": {
        "tags": [
          "AIIP Application API"
        ],
        "summary": "Propose normalized AIIP fields",
        "description": "Returns advisory field suggestions only; it never mutates the AIIP record.",
        "operationId": "aiip_harmonize_v1",
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "description": "Stable request identifier",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "description": "Stable end-to-end correlation identifier",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Stable idempotency key retained for 24 hours",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RagRetrievalServiceAiipHarmonizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed response. Exact idempotent replays return the same body and Idempotency-Replayed: true.",
            "headers": {
              "Idempotency-Replayed": {
                "description": "Present with value true for an exact replay.",
                "schema": {
                  "type": "string",
                  "const": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiipHarmonizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON, header, or request identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Wrong service identity, role, audience, or disallowed classification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key conflict or another matching request is processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 64 kB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Schema validation or structured model output failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Minimum delay in seconds before retrying with the same idempotency key.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "502": {
            "description": "AKB dependency failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "AKB application processing or identity validation unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/integrations/aiip/v1/duplicates/search": {
      "servers": [
        {
          "url": "http://localhost:3002",
          "description": "Local AKB web API"
        },
        {
          "url": "https://stratos.zeleznalady.cz/akb",
          "description": "Production AKB web API"
        }
      ],
      "post": {
        "tags": [
          "AIIP Application API"
        ],
        "summary": "Search authorized AIIP duplicate candidates",
        "description": "Runs tenant-scoped, authorization-filtered hybrid retrieval and returns citations without vectors.",
        "operationId": "aiip_duplicates_search_v1",
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "description": "Stable request identifier",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": true,
            "description": "Stable end-to-end correlation identifier",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Stable idempotency key retained for 24 hours",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RagRetrievalServiceAiipDuplicateSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed response. Exact idempotent replays return the same body and Idempotency-Replayed: true.",
            "headers": {
              "Idempotency-Replayed": {
                "description": "Present with value true for an exact replay.",
                "schema": {
                  "type": "string",
                  "const": "true"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiipDuplicateSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON, header, or request identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired, or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Wrong service identity, role, audience, or disallowed classification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key conflict or another matching request is processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 64 kB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Schema validation or structured model output failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or concurrency limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Minimum delay in seconds before retrying with the same idempotency key.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "502": {
            "description": "AKB dependency failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "AKB application processing or identity validation unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AkbErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AiipDuplicateSearchResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "request_id",
          "correlation_id",
          "audit_event_id",
          "status",
          "result",
          "warnings",
          "model",
          "prompt_template_version",
          "retrieval_index_version",
          "usage",
          "latency_ms"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "1.0"
          },
          "request_id": {
            "type": "string"
          },
          "correlation_id": {
            "type": "string"
          },
          "audit_event_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "completed"
          },
          "result": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipDuplicateSearchResult"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "model": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipModelMetadata"
          },
          "prompt_template_version": {
            "type": "string"
          },
          "retrieval_index_version": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipUsage"
          },
          "latency_ms": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "AiipHarmonizeResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "request_id",
          "correlation_id",
          "audit_event_id",
          "status",
          "result",
          "warnings",
          "model",
          "prompt_template_version",
          "usage",
          "latency_ms"
        ],
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "1.0"
          },
          "request_id": {
            "type": "string"
          },
          "correlation_id": {
            "type": "string"
          },
          "audit_event_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "completed"
          },
          "result": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipHarmonizeResult"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "model": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipModelMetadata"
          },
          "prompt_template_version": {
            "type": "string"
          },
          "retrieval_index_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "usage": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipUsage"
          },
          "latency_ms": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "AkbErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "trace_id"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "additionalProperties": true
              },
              "trace_id": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "correlation_id": {
                "type": "string"
              },
              "audit_event_id": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": true
          }
        }
      },
      "RagRetrievalServiceAiipDuplicateCandidate": {
        "properties": {
          "candidate_id": {
            "type": "string",
            "title": "Candidate Id"
          },
          "source_system": {
            "type": "string",
            "title": "Source System"
          },
          "source_record_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Record Id"
          },
          "akb_document_id": {
            "type": "string",
            "title": "Akb Document Id"
          },
          "score": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Score"
          },
          "matched_areas": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matched Areas"
          },
          "citations": {
            "items": {
              "$ref": "#/components/schemas/RagRetrievalServiceAiipDuplicateCitation"
            },
            "type": "array",
            "title": "Citations"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "candidate_id",
          "source_system",
          "akb_document_id",
          "score"
        ],
        "title": "AiipDuplicateCandidate"
      },
      "RagRetrievalServiceAiipDuplicateCitation": {
        "properties": {
          "document_id": {
            "type": "string",
            "title": "Document Id"
          },
          "document_version_id": {
            "type": "string",
            "title": "Document Version Id"
          },
          "chunk_id": {
            "type": "string",
            "title": "Chunk Id"
          },
          "document_title": {
            "type": "string",
            "title": "Document Title"
          },
          "version_label": {
            "type": "string",
            "title": "Version Label"
          },
          "section_path": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Section Path"
          },
          "page_number": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Page Number"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "document_id",
          "document_version_id",
          "chunk_id",
          "document_title",
          "version_label"
        ],
        "title": "AiipDuplicateCitation"
      },
      "RagRetrievalServiceAiipDuplicateSearchRequest": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "title": "Tenant Id"
          },
          "classification": {
            "type": "string",
            "enum": [
              "public",
              "internal",
              "restricted",
              "confidential"
            ],
            "title": "Classification"
          },
          "processing_purpose": {
            "type": "string",
            "const": "duplicate_detection",
            "title": "Processing Purpose"
          },
          "model_preference": {
            "type": "string",
            "enum": [
              "standard",
              "high_quality"
            ],
            "title": "Model Preference",
            "default": "standard"
          },
          "record": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipRecordInput"
          },
          "limit": {
            "type": "integer",
            "maximum": 20.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 10
          },
          "offset": {
            "type": "integer",
            "maximum": 200.0,
            "minimum": 0.0,
            "title": "Offset",
            "default": 0
          },
          "min_score": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Min Score",
            "default": 0.35
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "tenant_id",
          "classification",
          "processing_purpose",
          "record"
        ],
        "title": "AiipDuplicateSearchRequest"
      },
      "RagRetrievalServiceAiipDuplicateSearchResult": {
        "properties": {
          "candidates": {
            "items": {
              "$ref": "#/components/schemas/RagRetrievalServiceAiipDuplicateCandidate"
            },
            "type": "array",
            "title": "Candidates"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "offset": {
            "type": "integer",
            "title": "Offset"
          },
          "returned": {
            "type": "integer",
            "title": "Returned"
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "limit",
          "offset",
          "returned"
        ],
        "title": "AiipDuplicateSearchResult"
      },
      "RagRetrievalServiceAiipFieldProvenance": {
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "aiip_record",
              "model_inference"
            ],
            "title": "Source"
          },
          "input_fields": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Input Fields"
          },
          "prompt_template_version": {
            "type": "string",
            "title": "Prompt Template Version"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "source",
          "prompt_template_version"
        ],
        "title": "AiipFieldProvenance"
      },
      "RagRetrievalServiceAiipFieldSuggestion": {
        "properties": {
          "field": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Field"
          },
          "proposed_value": {
            "title": "Proposed Value"
          },
          "confidence": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Confidence"
          },
          "provenance": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipFieldProvenance"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "field",
          "proposed_value",
          "confidence",
          "provenance"
        ],
        "title": "AiipFieldSuggestion"
      },
      "RagRetrievalServiceAiipHarmonizeRequest": {
        "properties": {
          "tenant_id": {
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "title": "Tenant Id"
          },
          "classification": {
            "type": "string",
            "enum": [
              "public",
              "internal",
              "restricted",
              "confidential"
            ],
            "title": "Classification"
          },
          "processing_purpose": {
            "type": "string",
            "const": "idea_harmonization",
            "title": "Processing Purpose"
          },
          "model_preference": {
            "type": "string",
            "enum": [
              "standard",
              "high_quality"
            ],
            "title": "Model Preference",
            "default": "standard"
          },
          "locale": {
            "type": "string",
            "enum": [
              "cs",
              "en"
            ],
            "title": "Locale",
            "default": "cs"
          },
          "record": {
            "$ref": "#/components/schemas/RagRetrievalServiceAiipRecordInput"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "tenant_id",
          "classification",
          "processing_purpose",
          "record"
        ],
        "title": "AiipHarmonizeRequest"
      },
      "RagRetrievalServiceAiipHarmonizeResult": {
        "properties": {
          "suggestions": {
            "items": {
              "$ref": "#/components/schemas/RagRetrievalServiceAiipFieldSuggestion"
            },
            "type": "array",
            "maxItems": 30,
            "title": "Suggestions"
          },
          "review_required": {
            "type": "boolean",
            "const": true,
            "title": "Review Required",
            "default": true
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "AiipHarmonizeResult"
      },
      "RagRetrievalServiceAiipModelMetadata": {
        "properties": {
          "requested_preference": {
            "type": "string",
            "enum": [
              "standard",
              "high_quality"
            ],
            "title": "Requested Preference"
          },
          "requested_model": {
            "type": "string",
            "title": "Requested Model"
          },
          "actual_model": {
            "type": "string",
            "title": "Actual Model"
          },
          "fallback_applied": {
            "type": "boolean",
            "title": "Fallback Applied"
          },
          "model_digest": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Digest"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "requested_preference",
          "requested_model",
          "actual_model",
          "fallback_applied"
        ],
        "title": "AiipModelMetadata"
      },
      "RagRetrievalServiceAiipRecordInput": {
        "properties": {
          "record_id": {
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "title": "Record Id"
          },
          "record_version": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64
              },
              {
                "type": "null"
              }
            ],
            "title": "Record Version"
          },
          "title": {
            "type": "string",
            "maxLength": 240,
            "minLength": 1,
            "title": "Title"
          },
          "summary": {
            "type": "string",
            "maxLength": 12000,
            "minLength": 1,
            "title": "Summary"
          },
          "problem_statement": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 4000
              },
              {
                "type": "null"
              }
            ],
            "title": "Problem Statement"
          },
          "proposed_solution": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 4000
              },
              {
                "type": "null"
              }
            ],
            "title": "Proposed Solution"
          },
          "expected_benefits": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 20,
            "title": "Expected Benefits"
          },
          "strategic_domains": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 20,
            "title": "Strategic Domains"
          },
          "keywords": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 30,
            "title": "Keywords"
          },
          "metadata": {
            "additionalProperties": true,
            "type": "object",
            "title": "Metadata"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "record_id",
          "title",
          "summary"
        ],
        "title": "AiipRecordInput"
      },
      "RagRetrievalServiceAiipUsage": {
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Prompt Tokens",
            "default": 0
          },
          "completion_tokens": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Completion Tokens",
            "default": 0
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Total Tokens",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "AiipUsage"
      }
    }
  }
}
